#mtv-sticky-bar {
    margin: 0 auto;
    width: 100%;
    background: white;
    position: relative;
    overflow: scroll;
    white-space: nowrap;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
    &::-webkit-scrollbar {
        display: none;
        /* Safari and Chrome */
    }
    &.sticked {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999999;
    }
    .item {
        display: inline-block;
        margin: 0px 5px;
        transition: all 0.3s;
        &.active {
            font-weight: bold;
        }
        >div {
            padding: 0px 5px;
            cursor: pointer;
            &:hover {
                opacity: 0.8;
            }
        }
    }
    .mtv-sticky-wrapper {
        position: relative;
        .mtv-left-trigger {
            position: sticky;
            top: 0px;
            left: 0px;
            background: white;
            cursor: pointer;
        }
        .mtv-right-trigger {
            position: sticky;
            top: 0px;
            right: 0px;
            background: white;
            cursor: pointer;
        }
        >div {
            display: inline-block;
            vertical-align: middle;
            padding: 10px;
        }
    }
    &:not(.show-icons) {
        .mtv-right-trigger,
        .mtv-left-trigger {
            display: none;
        }
    }
}

.mtv-arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    &.right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    &.left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }
    &.up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }
    &.down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
}